/** Open Sans from Google Fonts**/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/**Main Colors **/
$dark-color: #2d3142;
$hover-color: hsla(0, 0%, 100%, 5%);
$active-color: hsla(0, 0%, 10%, 5%);
$bg-color: #d9e3f0;
$light-color: #f1f7ff;

/**Secondary Colors **/
$primary-color: #0d6efd;
$secondary-color: #ebc52b;

/**Miscellaneous Colors **/
/**mainly for reference when used in main.js **/
$red-color: #ee4463;
$yellow-color: #FED148;
$green-color: #33d4a4;

/** Font Sizes **/
$icon-font-size-desktop: xx-large;

/** 
Equal Spacing for:
  - nav { width: }
  - main { margin-left: }
**/
$sidebar-spacing-value: 100px;

/** General Settings**/

* {
  margin: 0;
}

a:visited, a:link { 
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: row;
  font-family: 'Open Sans', sans-serif;
  background-color: $bg-color;
  color: $dark-color;

  width: 100vw;
  height: 100vh;
}

section {
  display: flex;
  min-width: 90vw;
}

.btn {
  font-weight: 600;
}

/** Nav Sidebar **/
nav {
  display: flex; 
  flex-direction: column;
  align-items: center;
  position: fixed;
  justify-content: space-between;

  height: 100vh;
  width: $sidebar-spacing-value;
  background-color: $primary-color;
  color: $light-color;
}

nav > div {
  display: inherit; 
  flex-direction: inherit;
  align-items: inherit;
}

#logo {
  max-width: 70px;
  margin: 10px;
}


#nav-items {
  font-size: $icon-font-size-desktop;
  margin-bottom: 20px; //for spacing, so not cramped at the bottom
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;

  transition: all 80ms ease-in 
}

.nav-item:hover {
  cursor: pointer;
  background-color: $hover-color;

  margin: 0px;
  padding: 20px;
  border-radius: 10%;
}

.nav-item:active {
  cursor: pointer;
  color: $secondary-color;
  background-color: $active-color;

  margin: 0px;
  padding: 20px;
}

/** Main Body **/
main {
  margin-left: $sidebar-spacing-value;
  flex-direction: column;
  align-items: center;
}

.section-heading {
  font-weight: 700;
  padding: 0px 10px;
}

.container-style {
  margin: 5px 10px;
  padding: 25px;
  border-radius: 15px;

  background-color: $light-color;
}

/** Tasklist **/
#add-task-button {
  color: $primary-color;
}

.overflow-wrap {
  overflow-wrap: break-word;
}

.row {
  padding: 10px 0px;
}

.card-row {
  border-radius: 5px;
}

.card-row:hover {
  background-color: $active-color;
  transition: background-color 100ms ease-in;

}

.card-row-active {
  background-color: $primary-color;
  color: $light-color;
}

.trash-icon {
  color: $red-color;
  opacity: 80%;
  transition: opacity 50ms ease-in-out;
}

.trash-icon:hover {
  opacity: 100%;
}

.card-item {
  font-weight: 700;
  margin: 0;
}